header {
  color: #fff;
  background-color: rgb(40, 40, 40);
  height: 80px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86vh;
}

#screen {
  margin: 10px 10px 2px 10px;
  border: 1px solid black;
  padding-left: 8px;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 30px;
  overflow: hidden;
}

.calculator {
  border: 2px solid black;
  display: flex;
  width: 25%;
  height: 50%;
  margin-left: 18.75%;
  flex-direction: column;
}

.signs {
  display:flex;
  margin: 2px;
  width: 50%;
  flex-wrap: wrap;
  font-size: 50px;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.boton {
  border: 1px solid black;
  display: flex;
  margin: 2px;
  font-size: 1em;
  padding: 10px;
  align-items: center;
  height: .8em;
}

.boton2 {
  border: 1px solid black;
  display: flex;
  margin: 2px;
  font-size: 1em;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

.boton:hover, .boton2:hover {
  background-color: rgb(121, 121, 121);
  cursor: pointer;
}

#name {
  font-size: .7em;
  font-style: italic;
  margin: 2px;
  height: 40px;
  border: none;
  cursor: context-menu;
}

#name:hover {
  background-color: #fff;
}

#dot, #equal {
  width: .5em;
  justify-content: center;
}

#del, #ac {
  font-size: .5em;
  width: 2.2em;
  height: 40px;
  align-content: center;
}

#plus, #minus {
  height: 40px;
  width: 1.1em;
}

#x, #div {
  height: 40px;
  width: 1.1em;
}

.numbers {
  margin: 2px;
  display: flex;
  box-sizing: border-box;
  width: 50%;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  font-size: 50px;
}

#results-box {
  border: 2px solid black;
  margin-right: 18.75%;
  float: right;
  width: 25%;
  height: 50%;
  overflow: hidden;
}

#r-title {
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(40, 40, 40);
}

.res {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5.08px;
}

#results {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
  line-height: normal;
}

.u {
  display: flex;

}

footer {
  background-color: rgb(40, 40, 40);
  color: #fff;
  display: flex;
}
